<% data.forEach(item=> { %>
    <div class="blog" id="<%= item.id %>">
        <div>
            <h2>
                <%= item.title %>
            </h2>
            <p>
                <%= item.content %>
            </p>
        </div>
        <div class="">
            <p>
                Post at: <%=item.create_at %>
            </p>
            <h3>
                Posted By: <%=item.name %>
            </h3>
        </div>
        <div class="delete">
            <button class="deleteBtn" id="<%= item.id %>">Delete</button>
        </div>
    </div>
    <% }) %>